*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Karla', sans-serif;
    background-color: #FCF6B1;
    /* padding: 5px; */
    color: #595A4A;
    /* letter-spacing: 1px;*/
}

h1{
    font-family: 'Corben', cursive;
    font-size: 45px;
    color: #F7B32B;
    -webkit-animation-name: appTitle;
    -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes appTitle {
    from {
        transform: translateX(-800px);
    }
    to {
        transform: translateX(0px);
    }
  }

@media only screen and (max-width:585px){
   h1{
       font-size: 40px;
    }
}

@media only screen and (max-width:396px){
   h1{
       font-size: 30px;
    }
}

@media only screen and (max-width: 361px){
    h1 {
        font-size: 25px;
    }
}

h2{
    font-family: 'Corben', cursive;
    color: #F7B32B;
    font-size: 20px;
}

img{
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 27px -27px #2d1e2f;
    /* border: 5px solid white; */
}

input{
    font-family: 'Karla', sans-serif;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    /* background-color: #f3f3f3; */
    /* border: 5px solid white; */
    outline: none;
}


.inputBox {
    background-color: #FCF6B1 !important;
    padding-top: 37px !important;
    display: flex;
    justify-content: center;
    background-color: #fff;
    /* padding: 0px; */
}

#container{
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 25px;
}

#containerFood{
  /* justify-content: center;*/
  text-align: center;
  margin-top: 50px;
}

#submitBtn{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: #2d1e2f;
    color: #fff;
    /* border: 5px solid white; */
    width: 100px;
    outline: none;
}

#submitBtn:hover{
    cursor: pointer;
}

#dynamicMeal{
    padding-bottom: 55px;
    background-color: #ffffff;
    margin-bottom: 100px;
    padding-top: 55px;
   /* -webkit-animation-name: appMeal;
    -webkit-animation-duration: 2s;*/
}

/*@keyframes appMeal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }*/


#titleAndBtn{
	padding: 20px;
    font-size: 20px;
}

#mealCategory, #mealArea{
	/* font-style:italic */
	font-weight: bold;
}

#mealBtn{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding:10px;
    background-color: #fff;
}

#mealBtn a{ 
    color: black;
    text-decoration: none;
}

#openRecipe{
    font-size: 20px;
    font-weight: bold;
    outline: none;
    font-family: 'Karla', sans-serif;
    background-color: #2d1e2f;
    width: 150px;
    margin: 0 auto;
    color: #ffffff;
    padding: 18px;
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#openRecipe:hover{
    cursor: pointer;
}

#recipeText{
	display: none
}


details[open] summary ~ *{
    animation:  sweep .5s ease-in-out;
}

@keyframes sweep{
    from{
        opacity: 0; margin-top: -10px;
    }
    to{
        opacity: 1; margin-top: 0px;
    }
}
